<div class="about-page">
  <div class="jumbotron about text-center" style="letter-spacing: 2px;">
    <h1 class="about-us text-center">About us</h1>
    <br>
    <br>
      <p>Whether your "family" is related to you or your best friends, <strong>Familia</strong> allows you to share memories together in one place! Simply <a href="#">join</a> for free and start uploading your pictures!</p>
  </div>
</div>
