<div class="about-main">
<div class="jumbotron text-center" style="letter-spacing: 2px;">
<h1 class="about-us text-center">About us</h1>
<br>
<br>
<h3>Whether your "family" is related to you or are just best friends, Familia allows you to share memories together in one place! Simply register for free and start uploading your pictures!</h3>
</div>
</div>