<div class="jumbotron text-center" style="background-color: transparent; color: white; padding: 0px; position: relative; bottom: -400px">
  <h1 class="welcomeMessage">Welcome to Familia!</h1>
  <p><%= link_to "Start Sharing!", "#", class: "btn btn-primary btn-lg" %></p>
</div>


  
