<body class="container home">
<div class="jumbotron home text-center" style="background-color: transparent;">
  <h1 class="welcomeMessage">Welcome to Familia!</h1>
  <p class="welcome-p">Share all your pictures between friends and family.</p>
  <p><%= link_to "Login", "#", class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign up", "#", class: "btn btn-default btn-lg" %>
  </p>
</div>

</body>




  
