<div class="jumbotron text-center">
  <h1 class="welcomeMessage">Welcome to Familia!</h1>
  <p>Share all your pictures between friends and family.</p>
  <p><%= link_to "Start Sharing!", "#", class: "btn btn-primary btn-lg" %></p>
</div>




  
